{% extends 'global.html.twig' %}

{% block title %}Suiveurs / {{ userProfile.name }} (@{{ userProfile.username }}){% endblock %}

{% block content %}
<div class="col-sm-9 pt-3">
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <div class="rounded border" style="background:#fff;">
        <h6 class="pt-1 pb-1 text-center" style="background:#82b8d6;"><span class="pl-3">Suiveurs de <a style="color:#fff;text-decoration:underline;" href="{{ path('profile', {'username': userProfile.username}) }}">{{ userProfile.name }}</a></span></h6>
        <div class="pb-3" id="followers">
          <div class="p-3 text-center rounded" style="background:#fff;">
            <img src="{{ asset('images/feed/ajax-loader.gif') }}">
          </div>
        </div>
    </div>
    <div class="col-sm-12 text-center mt-3 mb-3 border pt-2 pb-2 rounded" data-offset="10" id="more_follo" onclick="fetchFollowers(this);" style="background:#fff">Afficher plus de suiveurs</div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
  $.ajax({
    url : "/ajax/fetchfollowers",
    type : 'POST',
    data : {
        'offset' : encodeURIComponent(0),
        'date' : encodeURIComponent(unixDate),
        'user' : encodeURIComponent({{ userProfile.id }})
    },
    dataType : 'html',              
  }).done(function(html) {
      if (html == "") {
        $('#followers').html('<div class="text-center p-2">Aucun suiveur trouvé.</div>');
      } else {
        $('#followers').html(html);
      }
  });
});

var loadFollo = false;

function fetchFollowers() {
    if (loadFollo == false) {
      $('#more_follo').html('<img src="http://127.0.0.1:8000/images/feed/ajax-loader.gif" />');
        loadFollo = true;
        $.ajax({
            url : "/ajax/fetchfollowers",
            type : 'POST',
            data : {
                'offset' : encodeURIComponent($('#more_follo').data('offset')),
                'date' : encodeURIComponent(unixDate),
                'user' : encodeURIComponent({{ userProfile.id }})
            },
            dataType : 'html',              
        }).done(function(html) {
            if (html == "") {
                $('#more_follo').remove(); 
            } else {
                $('#followers').append(html); 
                $('#more_follo').html("Afficher plus de suiveurs");
                $('#more_follo').data('offset', $('#more_follo').data('offset') + 5);
                loadFollo = false;
            }
        });
    }
}
</script>
{% endblock %}