{% for following in followings %}
<a href="{{ path('profile', {'username': following.subscription.username }) }}" style="text-decoration:none;" class="list-box-msg d-flex border-bottom p-3 justify-content-between align-items-end">
    <div class="d-flex">
        {% if following.subscription.image != "" %}
        <div style="width:50px;height:50px;">
            <img src="/uploads/profiles/{{following.subscription.image}}" class="rounded" style="width:100%;height:100%;" />
        </div>
        {% else %}
        <div style="width:50px;height:50px;">
            <img src="{{ asset('images/feed/user.png') }}" class="rounded" style="width:100%;" />
        </div>
        {% endif %}
        <div class="pl-2">
            <div style="font-size:16px;"><strong>{{ following.subscription.name }}</strong></div>
            <div>@{{ following.subscription.username }}</div>
        </div>
    </div>
</a>
{% endfor %}